<% layout('layouts/boilerplate')-%>
<div class="row">
  <div class="col-8 offset-2">
    <br>
    <br>
    <h2>New Listing</h2>
    <form action="/listings" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          placeholder="enter title"
          name="listing[title]"
          id="title"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          placeholder="enter description"
          name="listing[description]"
          id="title"
          class="form-control"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          placeholder="enter image URL/Link"
          name="listing[image]"
          id="image"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          placeholder="enter price"
          name="listing[price]"
          id="price"
          class="form-control"
        />
      </div>

      <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          placeholder="enter location"
          name="listing[location]"
          id="location"
          class="form-control"
        />
      </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          placeholder="enter country"
          name="listing[country]"
          id="country"
          class="form-control"
        />
      </div>

      <button class="btn btn-dark add-btn">Submit</button>
      <br>
      <br>
    </form>
  </div>
</div>
