*{
    /* margin: 0;
    padding: 0; 
    box-sizing: border-box;  */
   font-family: "Nunito", sans-serif;
}
body{
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
}
.navbar-brand i,span{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color:#FF385C;
}

.navbar-nav .nav-link:hover{
    color: black;
}

footer{
    /* max-height: 1rem; */
    border-top: 1px solid gray;
    padding: 1rem 0;
}
.footer-container{
    text-align: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.social-media-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    transition: all 1s ease-out;
}
.social-media-container i{
    font-size: 1.4em;
    transition: all 1s ease-in-out;
}
.fa-instagram{
    color: #d62976;
}
.fa-linkedin-in{
    color: #0077B5;
}

.fa-facebook-f{
    color: #4267B2;
}
.fa-x-twitter{
    color: #222;
}
.social-media-container i:hover{
    /* cursor: pointer; */
    transform: rotate(180deg);
}

.help-links{
    display: flex;
    gap: 1rem;
}
.help-links a{
    text-decoration: none;
    color: #333;
}
.help-links a:hover{
    text-decoration: underline;
    color: #222;
}

/* Cards */
.listing-card{
    border: none;
    margin-bottom: 2rem;
    transition: all 2s ease-in-out;
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
}
.card-text{
    font-weight: 400;
}
.card-body{
    padding: 0;
}

.card-img-overlay{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.card:hover .card-img-overlay{
    opacity: 0.2;
    background-color: #fff
}

.card-links{
    text-decoration: none;
}

/* Add new Listing */
.add-btn{
    background-color: #FF385C;
}
.add-btn:hover{
    background-color: #e03150;  
    color: #fff;
}

/* Edit Page */
.edt-btn{
    background-color: #0077B5;
    color: #fff;
    
}

.edt-btn:hover {
        background-color: #005983;
        color: #fff;
    }


/* Show Page */
.show-image{
    max-height: 300px; 
    width: 100%;
    height: auto; 
    object-fit: cover;
}

.edit-btn{
    background-color: #0077B5;
    color: #fff;
}
.edit-btn:hover{
   background-color: #005983;
        color: #fff; 
}

.dlt-btn{
background-color: #FF385C; 
color: #fff;
}

.dlt-btn:hover {
        background-color: #e03150;
        color: #fff;
}

/* Review Button */
.rev-btn{
    background-color: #f7b731;
    color: #fff;
    }

    .rev-btn:hover {
        background-color: #e1a025;
        color: #fff;
}