<footer>
    <div class="footer-container">
        <div class="social-media-container">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <div class="footer-info">
            <p class="copyright">&copy; Roomsters Private Limited</p>
            <div class="help-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
                <a href="/sitemap">Sitemap</a>
                <a href="/companydetails">Company Details</a>
            </div>
        </div>
    </div>
</footer>